DOCKER_USERNAME=gavendano@rs.com

KUBE_NFS_ENABLED=false
#-------------------- MOBIUS
MOBIUS_LICENSE=01MOBIUS52464A464C4B135859518381908FAEA4434F46515E53539681955B454D62405344565600514719454D5840530D565602514766454D1140530456563751472B454D5D40531A5353A6A2B641434E55BE95
IMAGE_VERSION_MOBIUS=12.2.0
IMAGE_VERSION_MOBIUSVIEW=12.2.1
IMAGE_VERSION_EVENTANALYTICS=1.3.18
MOBIUS_VIEW_URL=mobius12.local.net
MOBIUS_VIEW_URL2=services-us-virginia-m-1.skytap.com

#MOBIUS_PV_STORAGE=/home/rocket/mobius-storage
#MOBIUS_PV_DIAGNOSE=/home/rocket/mobius-diagnose
#MOBIUSVIEW_PV_DIAGNOSE=/home/rocket/mobiusview-diagnose
#MOBIUSVIEW_PV_PRESENTATION=/home/rocket/mobiusview-presentation

KEYCLOAK_ENABLED=false  
KEYCLOAK_URL=keycloak.local.net
ELASTICSEARCH_URL=elastic.local.net

#-------------------- INPUTFRAMEWORK
IFW_NAMESPACE=ifw
IFW_MOBIUS_REMOTE_HOST_PORT=mobiusview.mobius:80
IFW_IMAGE_NAME=rocketsoftware2024/inputframework
IFW_IMAGE_VERSION=4.8
IFW_ADMIN_USR=SYSADMIN
IFW_ADMIN_PWD=ASG
IFW_URL=ifw.local.net
#IFW_PV_VOLUME=/home/rocket/ifw-volume  
#IFW_PV_INBOX=/home/rocket/ifw-inbox    
#IFW_NFS_SERVER="10.0.0.2"
#IFW_NFS_PATH="/var/nfs/general"

#-------------------- AUDIT AND ANALYTICS SERVICES
AAS_LICENSE=
AAS_IMAGE_VERSION=11.1.2
AAS_URL=aaservices.local.net
#AAS_PV_LOG=/home/rocket/aas-log
#AAS_PV_SHARED=/home/rocket/aas-shared

#-------------------- ENTERPRISE ORCHESTRATOR
IMAGE_SCHEDULER_VERSION=4.4.1.14
IMAGE_CLIENTMGR_VERSION=4.4.1.14
IMAGE_AGENT_VERSION=4.4.1.14
AEO_URL="orchestrator.local.net"
