DOCKER_USERNAME=gavendano@rs.com

#-------------------- MOBIUS
MOBIUS_LICENSE=
IMAGE_VERSION_MOBIUS=12.2.0
IMAGE_VERSION_MOBIUSVIEW=12.2.1
IMAGE_VERSION_EVENTANALYTICS=1.3.18
MOBIUS_VIEW_URL=mobius12.local.net
MOBIUS_VIEW_URL2=mobius12.lapubuntu.net

#MOBIUS_PV_STORAGE=/home/rocket/mobius-storage
#MOBIUS_PV_DIAGNOSE=/home/rocket/mobius-diagnose
#MOBIUSVIEW_PV_DIAGNOSE=/home/rocket/mobiusview-diagnose
#MOBIUSVIEW_PV_PRESENTATION=/home/rocket/mobiusview-presentation

KEYCLOAK_ENABLED=false  
KEYCLOAK_URL=keycloak.local.net
ELASTICSEARCH_URL=elastic.local.net

#-------------------- INPUTFRAMEWORK
IFW_IMAGE_NAME=asgthorstenk/inputframework_tef
IFW_IMAGE_VERSION=4.8
IFW_ADMIN_USR=SYSADMIN
IFW_ADMIN_PWD=ASG
IFW_MOBIUS_REMOTE_CLI_URL=https://myshare.rocketsoftware.com/myshare/d/PqgkLvj51
IFW_MOBIUS_REMOTE_CLI_SETUP_URL=https://myshare.rocketsoftware.com/myshare/d/y3gz27g56
IFW_URL=ifw.local.net
#IFW_PV_VOLUME=/home/rocket/ifw-volume  
#IFW_PV_INBOX=/home/rocket/ifw-inbox    

#-------------------- AUDIT AND ANALYTICS SERVICES
AAS_LICENSE=
AAS_IMAGE_VERSION=11.1.2
AAS_URL=aaservices.local.net
#AAS_PV_LOG=/home/rocket/aas-log
#AAS_PV_SHARED=/home/rocket/aas-shared

