.env
*.zip
*.tar
.terraform/
*.bak
*.tfstate
*.backup
*.hcl
logs/
images/
pv_cluster/
cluster/zenith.local-mycluster_config.yaml
cluster/mobius-mycluster_config.yaml
mobius/monitor_acreate/reporte1/mobiuscli.log
mobius/monitor_acreate/reporte1/nohup.out
